body {
  margin: 0;
  font-family: sans-serif, Arial, Helvetica;
}

code {
  font-family: sans-serif, Arial, Helvetica;
}

ul {
  list-style: none;
}

.body {
  margin-top: 50px;
  padding: 0 30px;
  box-sizing: border-box;
}
